<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <% include common/header %>
  <% include ../components/menubar/menubar %>
  <div id="main">
    测试一下
    加内容
  </div>
</body>
</html>
