<div class="menu-bar">
  <div class="menu-bar-header">
    <img src="" alt="客服头像" />
    <h3>在线客服</h3>
    <div>请问有什么可以帮您?</div>
    <div>7:00 - 23:00</div>
    <div>客服热线4000-987-412</div>
  </div>
  <ul class="menu-bar-list">
    <li class="menu-bar-item">
      <a href="">院所信息</a>
    </li>
    <li class="menu-bar-item">
      <a href="">通知公告</a>
    </li>
    <li class="menu-bar-item">
      <a href="">材料上报</a>
    </li>
    <li class="menu-bar-item">
      <a href="">修改密码</a>
    </li>
  </ul>
</div>
